*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.flexing-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 16px 0px; */
}
.flexing-nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.flexing-nav ul a{
    text-decoration: none;
    color: black;
}
.flexing-nav ul li:hover{
    cursor: pointer;
    
}
.btn{
    background-color: #469165;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 16px;
    border: none;
    border-radius: 5px;
}
.hero-container{
    
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 16px;

}

.hero-content{
    text-align: center;
    max-width: 840px;
    margin-top: 116px;
    margin-bottom: 170px;
}
.hero-content .sub-heading{
    background-color: white;
    display: inline-block;
    
    padding: 8px 12px;
    border-radius: 20px;
    color: #469165;
}
.hero-content .heading{
    color: white;
    font-size: 72px;
    margin-top: 16px;
    line-height: 84px;
    
}
.hero-content .green{
    color: #30B868;
    
}
.hero-content .hero-texts{
    font-size: 17px;
    color: white;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 30px;
    max-width: 7;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 16px;
}
.container1{
    text-align: center;
}
.container1 h2{
    font-size: 48px;
    margin-top: 50px;
}
main section .main-card{
    display: flex;
    background-color: white;
    gap: 24px;
    

}
.card{
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    
    padding: 60px 24px;
    margin-top: 40px;
}
.card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px 14px;
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.common-style{
    color: #627382;
    font-size: 16px;
}